<nav class="navbar navbar-expand-sm bg-light justify-content-center">
  <%=link_to "Movies Reviews", root_path, class: "navbar-brand"%>
  <!-- Links -->
  <ul class="navbar-nav mr-5">
     <% if logged_in? %>
          <li class="nav-item"><%= link_to "New Movie", new_movie_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Logout", logout_path, :method => :delete, class: "nav-link" %></li>
      <% else %>
          <li class="nav-item"><%= link_to "Sign Up", signup_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Sign In", login_path, class: "nav-link" %></li>
      <% end %>
  </ul>
  <%= form_tag search_movies_path,method: :get, class: "form-inline ml-5",role: "search" do %>
    <%= text_field_tag :search, params[:search],class: "form-control mr-sm-2" %>
    <%= submit_tag "Search",class: "btn btn-success"  %>
  <% end %>
</nav>